body {
    background-color: #151425;
    background-image: url(https://a57.foxnews.com/static.foxnews.com/foxnews.com/content/uploads/2019/01/931/524/brightest-quasar.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: auto;
    color: #d3d14e;
    font-family: Arial, Helvetica, sans-serif;
}