body {
    background-color: #151425;
    background:
        linear-gradient(rgba(0, 0, 0, 0.7),
            rgba(0, 0, 0, 0.7)),
        url(https://wallpapercave.com/wp/wp3493595.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: auto;
    color: #999993;
    font-family: Arial, Helvetica, sans-serif;
}